<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDdup0w8ivLz20Ibkrjcj5TSgCyEG5kQU</string>
	<key>GCM_SENDER_ID</key>
	<string>968321116168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travely</string>
	<key>PROJECT_ID</key>
	<string>travely-d5c38</string>
	<key>STORAGE_BUCKET</key>
	<string>travely-d5c38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968321116168:ios:785237e4b3ad112fe749bd</string>
</dict>
</plist>